<!-- index.html -->
<!DOCTYPE html>
<html ng-app="application">
<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/codepen.css"/>
    <!--link rel="stylesheet" href="css/font-awesome.css"-->

    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <script src="js/angular.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="app/app.js"></script>
    <script src="app/framework.js"></script>
    <script src="../views/navigation.js"></script>
    <script src="../views/controllers.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
    <style>
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    </style>
</head>
<body>

<!-- login modal -->
<script type="text/ng-template" id="loginScreen.html">
    <div class="modal-header">
        <h3 class="modal-title">Login</h3>
    </div>
    <div class="modal-body">
        <form id="loginForm" name="loginFormName" class="form-horizontal" role="form" novalidate>
            <fieldset>
                <div class="form-group">
                    <label for="login" class="col-sm-3 control-label">User Name</label>
                    <div class="col-sm-9">
                        <input name="loginName" id="login" type="text" class="form-control" ng-model="userName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input name="passwordName" id="password" type="password" class="form-control" ng-model="password">
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok(userName, password)">Login</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- HEADER AND NAVBAR -->
<!-- Site header and navigation -->
<header class="top" role="header">
    <div class="container-fluid navbar-inverse">
        <a href="#" class="navbar-brand pull-left ">
            My Application
        </a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#topNav">
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <nav id="topNav" class="navbar-collapse collapse" role="navigation">
            <ul class="navbar-nav nav pull-right" ng-controller="rs_modal_controller">
                <li><a ng-click="open()">{{userNameDisplay}}</a></li>
            </ul>

        </nav>
    </div>

</header>

<br/>
<br/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">

            <div class="panel-group" id="accordion" ng-controller="rs_menu_Controller">
                <div class="panel panel-default " ng-repeat="group in $root.menu">
                    <div class="panel-heading">
                        <h4 class="panel-title nav">
                            <a data-toggle="collapse" class="nav" data-parent="#accordion" href="#{{group.name}}Menu">
                                <i class="glyphicon glyphicon-th"></i>&nbsp;{{group.name}}
                            </a>
                        </h4>
                    </div>
                    <div id="{{group.name}}Menu" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="nav">
                                <li ng-repeat="item in group.items"><a href="#{{item.link}}.html">{{item.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div class="col-md-10">


            <!-- angular templating -->
            <!-- this is where content will be injected -->
            <div class="panel panel-default nav-stacked" ng-view>
            </div>


        </div>


    </div>
</div>


<!-- FOOTER -->
<footer class="text-center">
    Copyright (2014)
</footer>
<!-- Include jQuery and bootstrap JS plugins -->
<script src="js/jquery-2.1.0.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>