<!-- index.html -->
<!DOCTYPE html>
<html ng-app="application" lang="en">
<head>

    <script src="js/jquery-2.1.0.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/codepen.css"/>
    <!--link rel="stylesheet" href="css/font-awesome.css"-->

    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <script src="js/angular.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>

    <script src="js/levelthree-core.js"></script>
    <script src="js/levelthree-forms.js"></script>
    <script src="ng-app/application.js"></script>
    <style>
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    </style>
</head>
<body>

<!-- login modal -->
<script type="text/ng-template" id="loginScreen.html">
    <div class="modal-header">
        <h3 class="modal-title">Login</h3>
    </div>
    <div class="modal-body">
        <form id="loginForm" name="loginFormName" class="form-horizontal" role="form" novalidate>
            <fieldset>
                <div class="form-group form-group-sm">
                    <label for="login" class="col-sm-3 control-label">User Name</label>
                    <div class="col-sm-9">
                        <input name="loginName" id="login" type="text" class="form-control" ng-model="userName" required>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input name="passwordName" id="password" type="password" class="form-control" ng-model="password">
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
       <div class="btn-group btn-group-sm">
            <button class="btn btn-primary" ng-click="ok(userName, password)">Login</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
       </div>
    </div>
</script>
<!-- lookup modal -->
<script type="text/ng-template" id="lookupModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Lookup</h3>
    </div>
    <div class="modal-body">
        <form id="lookupForm" name="lookupFormName" class="form-horizontal" role="form" novalidate>
            <fieldset>

                <div class="form-group">
                    <label for="filterField" class="col-sm-3 control-label">{{filterField}}</label>
                    <div class="col-sm-9">
                        <input name="filterFieldName" id="filterField" type="text" class="form-control" ng-model="filterValue" required>
                    </div>
                </div>

            </fieldset>
            <table class="table table-striped">
                <thead>
                    <tr>
                            <th>ID</th>
                            <th>Result</th>
                            <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="result in results">
                            <td>{{result.href | hrefId}}</td>
                            <td>{{result.title}}</td>
                            <td><button class="btn btn-success" ng-click="ok(result)">Select</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="lookup(filterValue)">Search</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- HEADER AND NAVBAR -->
<!-- Site header and navigation -->
<header class="top" role="header">

    <!--
    <div class="container-fluid navbar-inverse">
        <a href="#" class="navbar-brand pull-left ">
            My Application
        </a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#topNav">
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <nav id="topNav" class="navbar-collapse collapse" role="navigation">
            <ul class="navbar-nav nav pull-right" ng-controllerView="reLoginModalController">
                <li><a ng-click="open()">{{userNameDisplay}}</a></li>
            </ul>

        </nav>
    </div>
    -->
    <nav class="navbar navbar-default   " role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-leaf"></i>&nbsp;MyApplication</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" ng-controller="rs_menu_Controller">
                    <li class="divider"></li>
                    <li class="dropdown" ng-repeat="group in $root.menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th-large"></i>&nbsp;{{group.name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="item in group.items">
                                <a href="#{{item.link}}.html">{{item.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" ng-controller="reLoginModalController">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i>&nbsp;{{userNameDisplay}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="open()"><i class="glyphicon glyphicon-repeat"></i>&nbsp;Change user</a></li>
                            <li><a ng-click="open()"><i class="glyphicon glyphicon-off"></i>&nbsp;Logout</a></li>
                            <li><a ng-click="open()"><i class="glyphicon glyphicon-flag"></i>&nbsp;Language</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" ng-controller="reLoadingController"><img ng-show="show" src="images/ajax-loader.gif"></a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>
<div class="container-fluid" ng-view>
        <!--
        <div class="col-md-2">

            <div class="panel-group" id="accordion" ng-controllerView="rs_menu_Controller">
                <div class="panel panel-default " ng-repeat="group in $root.menu">
                    <div class="panel-heading">
                        <h4 class="panel-title nav">
                            <a data-toggle="collapse" class="nav" data-parent="#accordion" href="#{{group.name}}Menu">
                                <i class="glyphicon glyphicon-th"></i>&nbsp;{{group.name}}
                            </a>
                        </h4>
                    </div>
                    <div id="{{group.name}}Menu" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="nav">
                                <li ng-repeat="item in group.items"><a href="#{{item.link}}.html">{{item.name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        <div class="container" ng-view>
        </div>

        -->
        <!-- MAIN CONTENT AND INJECTED VIEWS -->





    </div>
</div>


<!-- FOOTER -->
<footer class="text-center">
    Copyright (2014)
</footer>
<!-- Include jQuery and bootstrap JS plugins -->
</body>
</html>